<% provide(:title, 'Acerca de SimuladoresDeCredito.com') %>
<h1>Acerca de nosotros</h1>
<p>
  SimuladoresDeCredito.com es una empresa que presta soporte a las pymes en Colombia para proporcionarles calculares de planes de pagos dada una linea de credito
</p>