<div class="center hero-unit">
  <h1>Bienvenido a SimuladoresDeCredito.com</h1>

  <h2>
    Esta es la pagina principal de SimuladoresDeCredito.com
  </h2>

  <%= link_to "Registrese ahora", signup_path, class: "btn btn-large btn-primary" %>
</div>

